<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Familia - Modificar</title>
</head>
<body>
    <div style="float: left; margin-left: 40%">
        <form action="/familia/modificarF/", method = "POST">
            <input type="hidden" name="id" value="{{ temp_fam.idFamilia }}">
            <fieldset>
                 Nombre Familia: <input type="text" name="nombreFam" value="" placeholder="Ingresa el nuevo nombre de la familia..."><br>
                 <input type="Submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>