<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="../../static/main.css">
    <title>Modificar</title>
</head>
<body>
    <div style="float: left; margin-left: 40%">
        <form action="/profesor/modificar/" method = "POST">
            <input type="hidden" name="id" value="{{ profesor.idPersona }}">
            <fieldset>
                 <label>Nombre (opcional):</label> <input class="formulario" type="text" name="nom" value="{{ profesor.nombre }}"><br>
                 <label>Apellido (opcional):</label> <input class="formulario" type="text" name="apell" value="{{ profesor.apellido }}"><br>
                 <label>Fecha de Nacimiento (opcional):</label> <input class="formulario" type="date" name="fn" value="{{ profesor.fecha_nacimiento }}"><br>
                 <input type="Submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>