<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In - Admin</title>
</head>
<body>
<div style="text-align:center">
        <form action="/signup/admin/verificacion", method="POST">
            <fieldset>
                <h3>LOGEESE COMO ADMINISTRADOR</h3>
                <label>Usuario</label><br><input class="formulario" type="text" name="user" value="" placeholder="Ingrese el usuario..."><br>
                <label>Contraseña</label><br><input class="formulario" type="password" name="passwd" value="" placeholder="Ingrese la contraseña..."><br>
                <button type="submit">Logearse</button>
            </fieldset>
        </form>
    </div>
</body>
</html>