<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro - Admin</title>
</head>
<body>
    <div style="text-align:center">
        <form action="/signup/admin/verificacion", method="POST">
            <input type="hidden" name="idPregunta" value="{{ pregunta.idPregunta }}">
            <fieldset>
                <h3>REGISTRESE COMO ADMINISTRADOR</h3>
                <label>Usuario</label><br><input class="formulario" type="text" name="user" value="" placeholder="Ingrese un usuario..."><br>
                <label>Contraseña</label><br><input class="formulario" type="text" name="passwd" value="" placeholder="Ingrese una contraseña..."><br>
                <h4>Pregunta</h4><a>{{pregunta_random.pregunta}}</a><br><input class="formulario" type="text" name="respuesta" value="" placeholder="Responda la pregunta correctamente..."><br>
                <button type="submit">Logearse</button>
            </fieldset>
        </form>
    </div>
</body>
</html>