<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="../../static/main.css">
    <title>Crear</title>
</head>
<body style="text-align:center">
    {% if lista_cursos|length == 0 %}
    <h2>No existen cursos para trabajar</h2>
    <a href="/home">Volver</a>
    {% else %}
    <div style="float: left; margin-left: 40%">
        <form action="/alumno/crear/" method = "POST">
            <fieldset>
                 <label>Nombre:</label> <input class="formulario" type="text" name="nom" value="" placeholder="Ingresa el nombre del alumno..."><br>
                 <label>Apellido:</label> <input class="formulario" type="text" name="apell" value="" placeholder="Ingresa el apellido del alumno..."><br>
                 <label>Fecha de Nacimiento:</label> <input class="formulario" type="date" name="fn" value=""><br>
                 <label>Curso:</label>
                 <select name="curs">
                     {% for curso in lista_cursos %}
                     <option value="{{curso.codigo}}">{{curso.codigo}}</option>
                     {% endfor %}
                 </select> <br>
                 <label>Familia:</label>
                 <select name="fam">
                     {% for familia in lista_familias %}
                     <option value="{{familia.idFamilia}}">{{familia.nombre}}</option>
                     {% endfor %}
                 </select> <br>
                 <input type="Submit" value="Submit">
            </fieldset>
        </form>
    </div>
    {% endif %}
</body>
</html>
