<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="../../static/main.css">
    <title>Crear</title>
</head>
<body>
    <div style="float: left; margin-left: 40%">
        <form action="/alumno/crear/" method = "POST">
            <fieldset>
                 <label>Nombre:</label> <input class="formulario" type="text" name="nom" value="" placeholder="Ingresa el nombre del alumno..."><br>
                 <label>Apellido:</label> <input class="formulario" type="text" name="apell" value="" placeholder="Ingresa el apellido del alumno..."><br>
                 <label>Fecha de Nacimiento:</label> <input class="formulario" type="text" name="fn" value="" placeholder="DD/MM/AA"><br>
                 <label>Curso:</label> <input class="formulario" type="text" name="curs" value="" placeholder="Ingresa el curso del alumno..."><br>
                 <input type="Submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>
