<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colegio</title>
</head>
<body style="background-color:white; color:black; text-align:center">
    <h2>¿Con qué desea trabajar?</h2>
    <p>
        <a href="/curso/"> Curso </a> <br>
        <a href="/familia/"> Familias </a> <br>
        <a href="/alumno/"> Alumno </a> <br>
        <a href="/profesor/"> Profesor </a> <br>
        <a href="/materia/"> Materia </a> <br> <br>
        <a href="/logout/">Log Out</a>
    </p>

</body>
</html>