<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/main.css">
    <title>Log-In</title>
</head>
<body class="centrado" style="text-align:center">
<div style="text-align:center">
    <form action="/verificacion/", method="POST">
        <fieldset>
            {% if user != "" %}
            <label>Usuario</label> <input class="formulario" type="text" name="user" value="{{user}}" placeholder="Ingrese el usuario..."><br>
            {% else %}
            <label>Usuario</label> <input class="formulario" type="text" name="user" value="" placeholder="Ingrese el usuario..."><br>
            {% endif %}
            <label>Contraseña</label> <input class="formulario" type="text" name="passwd" value="" placeholder="Ingrese la contraseña"><br>
            <button type="submit">Logearse</button>
        </fieldset>
    </form>
</div>
</body>
</html>