<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/main.css">
    <title>Log-In</title>
</head>
<body class="centrado" style="text-align:center">
<div style="text-align:center">
    <form action="/home", methods="POST">
        <fieldset>
            <label>Usuario</label> <input class="formulario" type="text" name="name" value="" placeholder="Ingrese el usuario..."><br>
            <label>Contraseña</label> <input class="formulario" type="text" name="passwd" value="" placeholder="Ingrese la contraseña"><br>
        </fieldset>
    </form>
</div>
</body>
</html>