<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body style="text-align:center">
    <h1>Error al eliminar el curso.</h1>
    <h3>Los siguientes alumnos siguen asociados al curso:</h3>
    <div style="float: left; margin-left: 40%">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
            </tr>
            {% for alumno in lista_alumnos_curso %}
            <tr>
                <td> {{ alumno.idPersona }} </td>
                <td> {{ alumno.nombre }} </td>
                <td> {{ alumno.apellido }} </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/curso/mostrar/">Volver</a>
    </div>
</body>
</html>