<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="float: left; margin-left: 40%">
        <form action="/curso/modificarCurso/", method = "GET">
             <table style="width:100%">
                  <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                  </tr>
                  {% for curso in lista_cursos %}
                  <tr>
                      <td> {{ curso.idCurso }} </td>
                      <td> {{ curso.codigo }} </td>
                      <td> <a href="/curso/modificarCurso/?id={{curso.idCurso}}">Modificar</a> </td>
                  </tr>
                  {% endfor %}

             </table>
        </form>
    </div>
</body>
</html>