<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumnos del Curso</title>
</head>
<body style="text-align:center">
    {% if lista_cursos|length == 0 %}
    <h2>Curso no tiene datos ingresados.</h2>
    {% else %}
    <form action="/curso/alumnosCurso/" method="POST">
        <a>
            <select name="idCurso">
                {% for curso in lista_cursos %}
                <option value="{{curso.idCurso}}">{{curso.codigo}}</option>
                {% endfor %}
            </select>
            <button type="submit">Seleccionar</button>
        </a>
    </form>
    {% endif %}
    <a href="/curso/">Volver</a>
</body>
</html>